:root {
    --header-footer-color: rgb(124, 122, 241);
    --primary-section-background: rgb(19, 19, 190);
}
body {
    color: white;
}
/* Start to Header Styling */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:var(--header-footer-color);
}
header h1 {
    padding: 30px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 25px;
}
header nav ul li {
    font-size: medium;
    padding: 10px 15px;
   margin: 10px 5px;
}
header nav ul li a {
    color: white;
}
header nav ul li a:hover {
    font-weight:bolder;
    color:blue;
    font-size: 20px;
}
/* Start to Footer Styling */
footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 0px;
    background-color:var(--header-footer-color);
}
footer h2 {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    margin: 0;
}
footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;
    width: 80%;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color:white;
}
footer a:hover {
    font-size: 20px;
    font-weight: bolder;
    color: blue;
}
/* Hero Background Image */
.hero {
    height: 600px;
    background-image: url(..//images/SLC.jpeg);
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    background-attachment: fixed;
}
/* About Me Section */
#about {
background-color: var(--primary-section-background);
display: block;
margin-bottom: 20px;
padding: 50px;
height: 300px;
font-family: serif,fantasy;
color: white;
}